<!DOCTYPE html>
<html>
  <head>
    <title>Producthunt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <%= link_to "Product Hunt", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navb">

          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
            <% if signed_in? %>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
            <ul class="navbar-nav">
              <!-- Aqui va el codigo para suir el gravatar si esta autenticado -->
              <li class="nav-item"><%= current_user.name %></li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= link_to "Salir", logout_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
            <% else %>
            <li class="nav-item">
              <%= link_to "Regístrate", new_user_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
            </li>
             <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
